# Ignoriere Mac-Systemdateien
.DS_Store

# Ignoriere versteckte JetBrains IDE-Ordner
.idea/

# Ignoriere Python-Cache
__pycache__/
*.pyc

# Ignoriere Umgebungsvariablen (API-Schlüssel)
.env
.claude

# Ignoriere den Build der App in bin/
bin/.build/
bin/.venv/
bin/languages
bin/vocabulary/
